*.exe
*.o
*.mod
*.f90

*.nc
*.dump
*.stackdump
fort.*

*/swan_restart.dat*
*/PRINT*
*/Errfile*
*/swaninit*

*/backup/*
*.back

*/output/*
*/Build/*
*/Data/*
*/.o*
*/.e*
*/log/*
!.gitkeep

/Yaeyama2_offline/*

