*.exe
*.o
*.mod
*.f90

*.nc
*.dump
*.stackdump
fort.*

*/swan_restart.dat*
*/PRINT*
*/Errfile*
*/swaninit*
*.dat
*.dat*

*/backup/*
*.back

*/output/*
*/Build/*
*/Data/*
*/.o*
*/.e*
*/log/*
!.gitkeep
!roms_grid_veg_test.nc
!init_veg_test.nc

/Yaeyama2_offline/*

*/coawstM
*/coawstG
*/coawstM.exe
*/coawstG.exe

*/coawstM*

*/Errfile*
*/PRINT*

*/output.txt
*/temp.txt